<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <style type="text/css">
  
    </style>

    <title>JSON to Jasmine Expects</title>
  </head>
  <body>

    <div class="container">
        <div class="row">
            <div class="col">    
                <h1>Transform Tool</h1>
                <h2>JSON to Jasmine Expects</h2>
            </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col">
                <form id="jsonForm" >
                    <div class="form-group">
                        <label for="exampleInputEmail1">JSON object:</label>
                        <textarea name="textarea" class="form-control" rows="10" cols="50">{ "test" : true }</textarea>
                        <small id="emailHelp" class="form-text text-muted">This program will transform the JSON object to a Javascript statements for performing asserts validation.</small>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input">
                            Swagger Format
                        </label>
                    </div>      
                    <div class="form-group">&nbsp;</div>              
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>              
            </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row output" style="display : none ">
            <div class="col">
                <form id="outputForm" >
                    <div class="form-group">
                        <label for="exampleInputEmail1">Jasmine statements:</label>
                        <textarea name="textarea" class="form-control" rows="10" cols="50"></textarea>
                    </div>
                </form>              
            </div>
        </div>

    </div>    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/main.js"></script>

  </body>
</html>